<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Lab1</display-name>

    <servlet>
        <servlet-name>BookingService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingService</servlet-name>
        <url-pattern>/BookingService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MenuService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuService</servlet-name>
        <url-pattern>/MenuService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReviewService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewService</servlet-name>
        <url-pattern>/ReviewService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoyaltyService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoyaltyService</servlet-name>
        <url-pattern>/LoyaltyService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportService</servlet-name>
        <url-pattern>/ReportService</url-pattern>
    </servlet-mapping>
</web-app>